@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #F6FCFF;
  font-family: "Montserrat", sans-serif;
}

.active {
  background-color: #000;
  color: #fff;
}

input::placeholder,
textarea::placeholder {
  font-family: "Montserrat", sans-serif;
}

input:focus,
textarea:focus {
  outline: none;
}

a, nav button {
  text-decoration: none;
  border: none;
  color: #000;
  transition: .4s;
  font-size: 1em;
  cursor: pointer;
  font-family: 'Montserrat',sans-serif;
}

a:hover,
nav button:hover {
  color:#bbb;
}